<div fxLayoutAlign="center center" class="content">
  <div fxLayoutAlign="center center" class="" fxHide.xs="true">
    <img
      src="https://firebasestorage.googleapis.com/v0/b/redcal-8c1d7.appspot.com/o/logo.png?alt=media&token=e6207e3f-4aed-4561-a985-aba498b12dd4"
      alt="logo RLSC"
      width="100%"
    />
  </div>
  <form
    class="custom-form"
    [formGroup]="form"
    fxLayout="row wrap"
    fxLayoutAlign="center center"
    fxFlex.xs="100"
  >
    <mat-form-field class="form-control" fxFlex="100">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="text" required />
      <mat-error *ngIf="this.form.get('email')?.hasError('required')">
        Email is required
      </mat-error>
      <mat-error *ngIf="this.form.get('email')?.hasError('email')">
        Email isn't valid. Please enter a valid email.
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-control" fxFlex="100">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password" required />
      <mat-error *ngIf="this.form.get('password')?.hasError('required')">
        Password is required
      </mat-error>
    </mat-form-field>

    <!-- seccion de errores -->
    <div
      *ngIf="!!error_message"
      class="alert-danger"
      fxLayout="row"
      fxLayoutAlign="center center"
    >
      <mat-icon aria-hidden="false" color="accent" class="icon-warning"
        >warning</mat-icon
      >
      {{ error_message }}
    </div>

    <div class="form-footer" fxFlex="100" fxLayoutAlign="center center">
      <button
        [disabled]="form.invalid || loading"
        mat-raised-button
        color="primary"
        type="submit"
        (click)="login()"
      >
        Enviar
      </button>
    </div>
    <!-- registrarse -->
    <div style="margin-top: 20px;">
      Si no tienes cuenta,
      <span style="color: brown; cursor: pointer" routerLink="/auth/register">
        registrate aqui
      </span>
    </div>
  </form>
</div>
