<div fxLayoutAlign="center stretch" class="content">
  <div fxLayoutAlign="center center" class="" fxHide.xs="true">
    <img
      src="https://firebasestorage.googleapis.com/v0/b/redcal-8c1d7.appspot.com/o/Logo.jfif?alt=media&token=19ce4a2d-225d-4862-9dce-8b5fae6274ae"
      alt="logo RLSC"
      width="100%"
    />
  </div>
  <form
    class="custom-form"
    [formGroup]="form"
    fxLayout="row wrap"
    fxLayoutAlign="center center"
    fxFlex.xs="100"
  >
    <mat-form-field class="form-control" fxFlex="100">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="text" required />
      <mat-error *ngIf="this.form.get('email')?.hasError('required')">
        Email is required
      </mat-error>
      <mat-error *ngIf="this.form.get('email')?.hasError('email')">
        Email isn't valid. Please enter a valid email.
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-control" fxFlex="100">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password" required />
      <mat-error *ngIf="this.form.get('password')?.hasError('required')">
        Password is required
      </mat-error>
    </mat-form-field>

    <!-- seccion de errores -->
    <div
      *ngIf="!!error_message"
      class="alert-danger"
      fxLayout="row"
      fxLayoutAlign="center center"
    >
      <mat-icon aria-hidden="false" color="accent" class="icon-warning">warning</mat-icon>
      {{ error_message }}
    </div>

    <div class="form-footer" fxFlex="100" fxLayoutAlign="center center">
      <button
        [disabled]="form.invalid || loading"
        mat-raised-button
        color="primary"
        type="submit"
        (click)="login()"
      >
        Enviar
      </button>
    </div>
  </form>
</div>
