
<div fxLayoutAlign="center stretch">
  <form class="custom-form" [formGroup]="form" fxLayout="row wrap" fxLayoutAlign="space-between center">
    <mat-form-field class="form-control" fxFlex="40" fxFlex.xs="100">
      <mat-label>Nombres</mat-label>
      <input matInput formControlName="name" type="text" required />
      <mat-error *ngIf="this.form.get('name')?.hasError('required')">
        Nombre es requerido
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-control" fxFlex="40" fxFlex.xs="100">
      <mat-label>Apellidos</mat-label>
      <input matInput formControlName="lastName" type="text" required />
      <mat-error *ngIf="this.form.get('lastName')?.hasError('required')">
        Apellidos es requerido
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-control" fxFlex="100">
      <mat-label>Correo</mat-label>
      <input matInput formControlName="email" type="text" required />
      <mat-error *ngIf="this.form.get('email')?.hasError('required')">
        Correo es requerido
      </mat-error>
      <mat-error *ngIf="this.form.get('email')?.hasError('email')">
        Correo no valido, ingrese un correo valido.
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-control" fxFlex="100">
      <mat-label>Contraseña</mat-label>
      <input matInput formControlName="password" type="password" required />
      <mat-error *ngIf="this.form.get('password')?.hasError('required')">
        Contraseña es requerido
      </mat-error>
    </mat-form-field>
    <div class="form-footer" fxFlex="100" fxLayoutAlign="center center">
      <button [disabled]="form.invalid || loading"  mat-raised-button color="primary" type="submit" (click)="register()">
        Enviar
      </button>
    </div>
  </form>
  </div>