<div fxLayout="column" fxFill fxLayoutGap="20">
  <div fxLayout="row" fxLayoutGap="20" fxLayout.xs="column" fxLayoutGap.xs="10">
    <div fxFlex="50" fxFlex.xs="100">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/redcal-8c1d7.appspot.com/o/Fotografias%20Iphone%20nov%202014%20330.JPG?alt=media&token=54283001-8d73-4ed6-86ef-67f2647a6c15"
        alt=""
        width="100%"
      />
    </div>
    <div
      fxFlex="50"
      fxFlex.xs="100"
      fxLayoutAlign="center center"
      fxLayout="column"
    >
      <h1>¿Quiénes Somos?</h1>
      <div>
        La Red Latinoamericana de Seguridad en Calderas (RLSC) es una entidad de
        bienestar social, de carácter privado, no lucrativa y de duración
        indefinida, cuyo propósito es promover la generación y difusión de
        conocimiento relacionados con las calderas y equipos periféricos, a
        través de los más altos valores y profesionalismo de sus líderes y
        miembros, y servir de guía para el desarrollo de las mejores prácticas
        gerenciales y técnicas sobre dichos equipos en la Región.
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutGap="20" fxLayout.xs="column" fxLayoutGap.xs="10">
    <div
      fxFlex="50"
      fxFlex.xs="100"
      fxLayoutAlign="center center"
      fxLayout="column"
      fxFlexOrder.xs="2"
    >
      <h1>Misión</h1>
      <div>
        Somos un grupo de expertos en operación de calderas de vapor con la
        finalidad de compartir experiencias para eliminar accidentes en estos
        equipos que provoquen daños a la integridad física de las personas que
        se desenvuelven alrededor de los mismos, además de proteger el
        medioambiente por medio de controles en la emisión de gases de
        combustión, realizando capacitaciones, inspecciones y apoyo técnico,
        aportando conocimientos por experiencias para salvar vidas de personas
        cercanas a una caldera en operación, brindando el reglamento operativo
        que mencione las condiciones de los equipos generadores de vapor y
        capacitar a los operadores en cada uno de los países de Latinoamérica.
      </div>
    </div>
    <div fxFlex="50" fxFlex.xs="100">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/redcal-8c1d7.appspot.com/o/IMG-20120830-00039.jpg?alt=media&token=9b9cef77-5b8a-44ac-8931-1b24b2f79bb2"
        alt=""
        width="100%"
      />
    </div>
  </div>
  <div fxLayout="row" fxLayoutGap="20" fxLayout.xs="column" fxLayoutGap.xs="10">
    <div fxFlex="50" fxFlex.xs="100">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/redcal-8c1d7.appspot.com/o/visi%C3%B3n.jpg?alt=media&token=75919ff1-277b-4109-9245-813388b54199"
        alt=""
        width="100%"
      />
    </div>
    <div
      fxFlex="50"
      fxFlex.xs="100"
      fxLayoutAlign="center center"
      fxLayout="column"
    >
      <h1>Visión</h1>
      <div>
        Ser el ente regulador de la operación de los equipos generadores de
        vapor en todos los países de Latinoamérica para evitar accidentes que
        expongan la vida de las personas alrededor de una caldera y proteger el
        medio ambiente controlando la emisión de gases de combustión
      </div>
    </div>
  </div>
  <div>
    <img
      src="https://firebasestorage.googleapis.com/v0/b/redcal-8c1d7.appspot.com/o/objetivosRed.png?alt=media&token=3b4d44d8-d20a-49a8-9f11-a4c867e8c5ac"
      alt="Objetivos de la red"
      width="100%"
    />
  </div>
  <div fxLayout="column">
    <!-- membresia -->
    <div
      fxFlex="100"
      fxLayoutAlign="space-around center"
      fxLayout="column"
      fxLayoutGap="10"
    >
      <h1 fxFlex="100" fxLayoutAlign="center center">MEMBRESÍA</h1>
      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10">
        <h2>TIPOS DE MIEMBROS</h2>
        <div>
          La Red ha definido tres tipos de miembros, cada uno con beneficios
          adecuados a sus necesidades:
        </div>
        <li>Profesionales y técnicos</li>
        <li>Estudiantes y jóvenes profesionales</li>
        <li>Empresas - corporativos</li>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="10">
        <h2 fxFlex="100" fxLayoutAlign="center center">INVERSIÓN</h2>
        <div
          fxFlex="30"
          fxFlex.xs="100"
          fxLayout="column"
          fxLayoutAlign="center start"
        >
          <h3>PARA PROFESIONALES Y TÉCNICOS:</h3>
          <li>25 US$ (para profesionales en ejercicio pleno)</li>
          <li>
            Para ingenieros o profesionales recién graduados (hasta un año de su
            graduación) gozarán del pago de solo un 75% del valor de la
            membresía
          </li>
          <li>Profesionales jubilados: 50% descuento</li>
        </div>
        <div
          fxFlex="30"
          fxFlex.xs="100"
          fxLayout="column"
          fxLayoutAlign="center center"
        >
          <h3>PARA ESTUDIANTES:</h3>
          <li>
            25 US$, a los que se aplica un 50% de descuento al presentar los
            requisitos para esa clase de miembro (comprobantes de matrícula o
            registro académico de universidades o instituciones
            profesionales/técnicas).
          </li>
          <li>
            Membresía gratuita para el año siguiente, a los estudiantes
            brillantes y/o destacados que durante su tiempo como miembros hagan
            un aporte técnico de importancia a la RLSC.
          </li>
        </div>
        <div
          fxFlex="30"
          fxFlex.xs="100"
          fxLayout="column"
          fxLayoutAlign="center center"
        >
          <h3>PARA JÓVENES PROFESIONALES:</h3>
          <li>
            25 US$, a los que se aplica un 25% de descuento al presentar los
            requisitos para esa clase de miembro certificados de estudios,
            títulos y/o constancia de membresía en Secciones de Estudiantes,
            universidades o instituciones profesionales/técnicas.
          </li>
        </div>
      </div>
    </div>
    <div
      fxLayoutAlign="center center"
      fxFlex="80"
      fxLayout="column"
      style="margin-top: 20px"
    >
      <h1>FUNDADORES</h1>
      <img
        src="https://firebasestorage.googleapis.com/v0/b/redcal-8c1d7.appspot.com/o/Foto%20de%20los%20Fundadores%20REDCAL2.png?alt=media&token=97208059-a21b-45d3-a435-99fb16dd0d46"
        alt=""
        width="80%"
      />
    </div>
    <div fxLayoutAlign="center center" fxLayout="row wrap">
      <h2 fxFlex="100" fxLayoutAlign="center center">
        CREACIÓN, ESTATUTOS Y ENTREVISTAS
      </h2>
      <a
        fxFlex="40"
        href="https://www.youtube.com/watch?v=oUT0CLbm3f0"
        target="_blank"
      >
        <span style="font-size: 18px"> Creacion y estatutos:</span> <br />
        https://www.youtube.com/embed/oUT0CLbm3f0
      </a>
      <a
        fxFlex="40"
        href="https://www.facebook.com/ciemicr/videos/409728147691390/?extid=WA-UNK-UNK-UNK-IOS_GK0T-GK1C&ref=sharing&_rdc=2&_rdr"
        target="_blank"
      >
        <span style="font-size: 18px"
          >Entrevista a Richard Bolivar Hidalgo, Presidente de la Red:</span
        >
        <br />
        https://www.facebook.com/ciemicr/videos/409728147691390/?extid=WA-UNK-UNK-UNK-IOS_GK0T-GK1C&ref=sharing&_rdc=2&_rdr
      </a>
    </div>
  </div>
</div>
