<div fxLayout="column" fxFill>
  <div fxLayout="row" fxLayoutGap="20" fxLayout.xs="column" fxLayoutGap.xs="10">
    <div fxFlex="50" fxFlex.xs="100">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/redcal-8c1d7.appspot.com/o/quienes%20somos.jpg?alt=media&token=d40889d5-a434-477e-9af9-9301d3ec7c35"
        alt=""
        width="100%"
      />
    </div>
    <div
      fxFlex="50"
      fxFlex.xs="100"
      fxLayoutAlign="center center"
      fxLayout="column"
    >
      <h1>¿Quienes Somos?</h1>
      <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur,
        quam eius, repellendus nisi et maiores error delectus atque soluta
        inventore mollitia culpa magni harum perspiciatis amet. Explicabo id
        rerum deserunt?
      </div>
      <br />
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, doloribus
        itaque. Aperiam vitae facilis libero similique dolorum officia harum
        aliquam enim? Repellat tempora alias ea ratione aliquam sapiente,
        suscipit voluptate.
      </div>
      <br />
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
        obcaecati velit veniam totam numquam molestias sed laborum nostrum
        perferendis eligendi iure saepe sapiente nulla inventore similique qui
        ipsa, dolore quos.
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutGap="20" fxLayout.xs="column" fxLayoutGap.xs="10">
    <div
      fxFlex="50"
      fxFlex.xs="100"
      fxLayoutAlign="center center"
      fxLayout="column"
      fxFlexOrder.xs="2"
    >
      <h1>Misión</h1>
      <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur,
        quam eius, repellendus nisi et maiores error delectus atque soluta
        inventore mollitia culpa magni harum perspiciatis amet. Explicabo id
        rerum deserunt?
      </div>
    </div>
    <div fxFlex="50" fxFlex.xs="100">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/redcal-8c1d7.appspot.com/o/misi%C3%B3n.jpg?alt=media&token=e8355509-77bb-4a48-89d8-325e604d5971"
        alt=""
        width="100%"
      />
    </div>
  </div>
  <div fxLayout="row" fxLayoutGap="20" fxLayout.xs="column" fxLayoutGap.xs="10">
    <div fxFlex="50" fxFlex.xs="100">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/redcal-8c1d7.appspot.com/o/visi%C3%B3n.jpg?alt=media&token=75919ff1-277b-4109-9245-813388b54199"
        alt=""
        width="100%"
      />
    </div>
    <div
      fxFlex="50"
      fxFlex.xs="100"
      fxLayoutAlign="center center"
      fxLayout="column"
    >
      <h1>Visión</h1>
      <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur,
        quam eius, repellendus nisi et maiores error delectus atque soluta
        inventore mollitia culpa magni harum perspiciatis amet. Explicabo id
        rerum deserunt?
      </div>
      <br />
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, doloribus
        itaque. Aperiam vitae facilis libero similique dolorum officia harum
        aliquam enim? Repellat tempora alias ea ratione aliquam sapiente,
        suscipit voluptate.
      </div>
      <br />
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
        obcaecati velit veniam totam numquam molestias sed laborum nostrum
        perferendis eligendi iure saepe sapiente nulla inventore similique qui
        ipsa, dolore quos.
      </div>
    </div>
  </div>
</div>
