<div fxLayout="column" fxFill>
  <div>
    <img
      src="https://firebasestorage.googleapis.com/v0/b/redcal-8c1d7.appspot.com/o/objetivosRed.png?alt=media&token=3b4d44d8-d20a-49a8-9f11-a4c867e8c5ac"
      alt="Objetivos de la red"
      width="100%"
    />
  </div>
  <div fxLayout="row" fxLayoutGap="20" fxLayout.xs="column" fxLayoutGap.xs="10">
    <div fxFlex="50" fxFlex.xs="100">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/redcal-8c1d7.appspot.com/o/quienes%20somos.jpg?alt=media&token=d40889d5-a434-477e-9af9-9301d3ec7c35"
        alt=""
        width="100%"
      />
    </div>
    <div
      fxFlex="50"
      fxFlex.xs="100"
      fxLayoutAlign="center center"
      fxLayout="column"
    >
      <h1>¿Quienes Somos?</h1>
      <div>
        La Red Latinoamericana de Seguridad en Calderas (RLSC) es una entidad de
        bienestar social, de carácter privado, no lucrativa y de duración
        indefinida, cuyo propósito es promover la generación y difusión de
        conocimiento relacionados con las calderas y equipos periféricos, a
        través de los más altos valores y profesionalismo de sus líderes y
        miembros, y servir de guía para el desarrollo de las mejores prácticas
        gerenciales y técnicas sobre dichos equipos en la Región.
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutGap="20" fxLayout.xs="column" fxLayoutGap.xs="10">
    <div
      fxFlex="50"
      fxFlex.xs="100"
      fxLayoutAlign="center center"
      fxLayout="column"
      fxFlexOrder.xs="2"
    >
      <h1>Misión</h1>
      <div>
        Somos un grupo de expertos en operación de calderas de vapor con la
        finalidad de compartir experiencias para eliminar accidentes en estos
        equipos que provoquen daños a la integridad física de las personas que
        se desenvuelven alrededor de los mismos, además de proteger el
        medioambiente por medio de controles en la emisión de gases de
        combustión, realizando capacitaciones, inspecciones y apoyo técnico,
        aportando conocimientos por experiencias para salvar vidas de personas
        cercanas a una caldera en operación, brindando el reglamento operativo
        que mencione las condiciones de los equipos generadores de vapor y
        capacitar a los operadores en cada uno de los países de Latinoamérica.
      </div>
    </div>
    <div fxFlex="50" fxFlex.xs="100">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/redcal-8c1d7.appspot.com/o/misi%C3%B3n.jpg?alt=media&token=e8355509-77bb-4a48-89d8-325e604d5971"
        alt=""
        width="100%"
      />
    </div>
  </div>
  <div fxLayout="row" fxLayoutGap="20" fxLayout.xs="column" fxLayoutGap.xs="10">
    <div fxFlex="50" fxFlex.xs="100">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/redcal-8c1d7.appspot.com/o/visi%C3%B3n.jpg?alt=media&token=75919ff1-277b-4109-9245-813388b54199"
        alt=""
        width="100%"
      />
    </div>
    <div
      fxFlex="50"
      fxFlex.xs="100"
      fxLayoutAlign="center center"
      fxLayout="column"
    >
      <h1>Visión</h1>
      <div>
        Ser el ente regulador de la operación de los equipos generadores de
        vapor en todos los países de Latinoamérica para evitar accidentes que
        expongan la vida de las personas alrededor de una caldera y proteger el
        medio ambiente controlando la emisión de gases de combustión
      </div>
    </div>
  </div>
</div>
