<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30">
  <h1>COMITÉS TÉCNICOS</h1>
  <div fxLayoutAlign="space-evenly center" fxFlex="100">
    <div
      fxLayout="column"
      fxLayoutGap="30"
      fxLayoutAlign="center center"
      fxFlex="15"
      class="comites"
    >
      <mat-icon>verified_user</mat-icon>
      <span>Automatización, Seguridad y Control</span>
    </div>
    <div
      fxLayout="column"
      fxLayoutGap="30"
      fxLayoutAlign="center center"
      fxFlex="15"
      class="comites"
    >
      <mat-icon>verified_user</mat-icon>
      <span>Confiabilidad e Integridad Mecánica</span>
    </div>
    <div
      fxLayout="column"
      fxLayoutGap="30"
      fxLayoutAlign="center center"
      fxFlex="15"
      class="comites"
    >
      <mat-icon>verified_user</mat-icon>
      <span>Seguridad y Control de Procesos</span>
    </div>
    <div
      fxLayout="column"
      fxLayoutGap="30"
      fxLayoutAlign="center center"
      fxFlex="15"
      class="comites"
    >
      <mat-icon>verified_user</mat-icon>
      <span>Seguridad, Salud Ocupacional, y Ambiental</span>
    </div>
    <div
      fxLayout="column"
      fxLayoutGap="30"
      fxLayoutAlign="center center"
      fxFlex="15"
      class="comites"
    >
      <mat-icon>verified_user</mat-icon>
      <span>Mantenimiento, Reparación y Alteraciones</span>
    </div>
  </div>
</div>
