<div fxFill fxLayout="column" fxLayoutGap="30">
  <h1 color="primary" fxLayoutAlign="center center" class="titulo">
    NORMATIVAS DE ALGUNOS PAISES LATINOAMERICANOS
  </h1>
  <div fxLayoutGap="10">
    <!-- mexico -->
    <div fxLayout="column" fxFlex="40">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/redcal-8c1d7.appspot.com/o/3195791_5573.jpg?alt=media&token=252ddaa7-02e3-4c0e-9614-322885766362"
        alt=""
        height="300px"
      />
      <div>
        tomado de:
        <a
          href="https://www.freepik.es/vector-gratis/bandera-mexico-vector-diseno-creativo_3195791.htm#query=bandera%20mexico&position=32&from_view=search&track=sph"
          >Imagen de flatart</a
        >
        en Freepik
      </div>
    </div>
    <div
      fxFlex="50"
      fxLayout="column"
      fxLayoutGap="30"
      fxLayoutAlign="center stretch"
    >
      <h2>MÉXICO</h2>
      <span
        >NORMA OFICIAL MEXICANA NOM-020-STPS-2011, RECIPIENTES SUJETOS A
        PRESIÓN, RECIPIENTES CRIOGÉNICOS Y GENERADORES DE VAPOR O CALDERAS -
        FUNCIONAMIENTO - CONDICIONES DE SEGURIDAD:
        <a
          href="https://dof.gob.mx/nota_detalle.php?codigo=5229908&fecha=27/12/2011#gsc.tab=0"
          >dof.gob.mx/nota_detalle.php?codigo=5229908&fecha=27/12/2011#gsc.tab=0</a
        ></span
      >
      NORMA OFICIAL MEXICANA NOM-122-STPS-1996, RELATIVA A LAS CONDICIONES DE
      SEGURIDAD E HIGIENE PARA EL FUNCIONAMIENTO DE LOS RECIPIENTES SUJETOS A
      PRESION Y GENERADORES DE VAPOR O CALDERAS QUE OPEREN EN LOS CENTROS DE
      TRABAJO:
      <a
        href="https://www.dof.gob.mx/nota_detalle.php?codigo=4887831&fecha=18/07/1997#gsc.tab=0"
        >www.dof.gob.mx/nota_detalle.php?codigo=4887831&fecha=18/07/1997#gsc.tab=0</a
      >
    </div>
  </div>
  <div fxLayoutGap="10">
    <!-- Costa rica -->
    <div fxLayout="column" fxFlex="40">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/redcal-8c1d7.appspot.com/o/2189960_3796.jpg?alt=media&token=2fc75057-3dc7-4983-8307-6cea3b01e306"
        alt=""
        height="300px"
      />
      <div>
        tomado de:
        <a
          href="https://www.freepik.es/vector-gratis/diseno-mapa-costa-rica_2189960.htm#query=bandera%20costa%20rica&position=5&from_view=search&track=sph"
          >Imagen de flatart</a
        >
        en Freepik
      </div>
    </div>
    <div
      fxFlex="50"
      fxLayout="column"
      fxLayoutGap="30"
      fxLayoutAlign="center stretch"
    >
      <h2>COSTA RICA</h2>
      <span
        >Reglamento de Calderas No 26789-MTSS:
        <a
          href="https://www.ministeriodesalud.go.cr/index.php?option=com_content&view=article&id=914"
          >dof.gob.mx/nota_detalle.php?codigo=5229908&fecha=27/12/2011#gsc.tab=0</a
        ></span
      >

      <a
        href="http://www.pgrweb.go.cr/scij/Busqueda/Normativa/Normas/nrm_texto_completo.aspx?param1=NRTC&nValor1=1&nValor2=30463&nValor3=32161&strTipM=TC"
        >www.dof.gob.mx/nota_detalle.php?codigo=4887831&fecha=18/07/1997#gsc.tab=0</a
      >

      <a href="https://www.cso.go.cr/tramites/Reglamento%20de%20calderas.pdf"
        >www.dof.gob.mx/nota_detalle.php?codigo=4887831&fecha=18/07/1997#gsc.tab=0</a
      >
    </div>
  </div>
  <div fxLayoutGap="10">
    <!-- Cuba -->
    <div fxLayout="column" fxFlex="40">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/redcal-8c1d7.appspot.com/o/hands-waving-flags-of-cuba.jpg?alt=media&token=345d95e4-a78f-4a9e-89c0-4303ff181214"
        alt=""
        height="300px"
      />
      <div>
        tomado de:
        <a
          href="https://www.freepik.es/foto-gratis/manos-ondeando-banderas-cuba_2895204.htm#query=bandera%20Cuba&position=13&from_view=search&track=sph"
          >Imagen de rawpixel.com</a
        >
        en Freepik
      </div>
    </div>
    <div
      fxFlex="50"
      fxLayout="column"
      fxLayoutGap="30"
      fxLayoutAlign="center stretch"
    >
      <h2>CUBA</h2>
      <span
        >REGLAMENTO DE SEGURIDAD PARA LA INSTALACIÓN, EXPLOTACIÓN Y
        MANTENIMIENTO DE LAS CALDERAS DE VAPOR.
        <br />
        Gaceta Oficial No. 30 Extraordinaria de 2014
        <br />
        Resolución núm. 5093 del Comité Estatal de Trabajo y Seguridad Social
        por la que se aprueba y pone en vigor el reglamento para la explotación
        y mantenimiento de las calderas de vapor.
        <a
          href="https://www.ilo.org/dyn/natlex/natlex4.detail?p_lang=en&p_isn=3410"
          >https://www.ilo.org/dyn/natlex/natlex4.detail?p_lang=en&p_isn=3410</a
        ></span
      >

      <div>
        Resolución del Ministerio de Industrias núm. 47, de 16 de junio de 2014,
        que aprueba el Reglamento de Seguridad para la Instalación, Explotación
        y Mantenimiento de las Calderas de Vapor;
        <a
          href="https://www.ilo.org/dyn/natlex/natlex4.detail?p_isn=112475&p_lang=es"
          >https://www.ilo.org/dyn/natlex/natlex4.detail?p_isn=112475&p_lang=es</a
        >
        <a href="https://www.gacetaoficial.gob.cu/es/calderas-de-vapor"
          >https://www.gacetaoficial.gob.cu/es/calderas-de-vapor</a
        >

        <a
          href="https://www.ilo.org/dyn/natlex/docs/ELECTRONIC/112475/140561/F1690966911/4.2.CUB_158.pdf"
          >https://www.ilo.org/dyn/natlex/docs/ELECTRONIC/112475/140561/F1690966911/4.2.CUB_158.pdf</a
        >
      </div>
    </div>
  </div>

  <!-- Venezuela -->
  <div fxLayoutGap="10">
    <div fxLayout="column" fxFlex="40">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/redcal-8c1d7.appspot.com/o/1155232_OR7ZM80.jpg?alt=media&token=45364629-958e-45c3-80b9-7a50cf652646"
        alt=""
        height="300px"
      />
      <div>
        tomado de:
        <a
          href="https://www.freepik.es/vector-gratis/coleccion-elementos-representativos-venezuela_1155232.htm#query=bandera%20Venezuela&position=26&from_view=search&track=sph"
          >Imagen de aranjuezmedina</a
        >
        en Freepik
      </div>
    </div>
    <div
      fxFlex="50"
      fxLayout="column"
      fxLayoutGap="30"
      fxLayoutAlign="center stretch"
    >
      <h2>VENEZUELA</h2>
      <span
        >ANTEPROYECTO DE NORMA TÉCNICA INSPECCIÓN DE CALDERAS EN SERVICIO:
        <a
          href="https://www.medicinalaboraldevenezuela.com.ve/archivo/Anteproyectos-Normas-Tecnicas-INPSASEL/norma_tecnica_inspeccion_calderas_en_servicio.pdf"
          >https://www.medicinalaboraldevenezuela.com.ve/archivo/Anteproyectos-Normas-Tecnicas-INPSASEL/norma_tecnica_inspeccion_calderas_en_servicio.pdf</a
        ></span
      >
      REGLAMENTO DE LAS CONDICIONES DE HIGIENE Y SEGURIDAD EN EL TRABAJO:
      <a
        href="REGLAMENTO DE LAS CONDICIONES DE HIGIENE Y SEGURIDAD EN EL TRABAJO (medicinalaboraldevenezuela.com.ve)"
        >REGLAMENTO DE LAS CONDICIONES DE HIGIENE Y SEGURIDAD EN EL TRABAJO
        (medicinalaboraldevenezuela.com.ve)</a
      >
    </div>
  </div>

  <!-- brasil -->
  <div fxLayoutGap="10">
    <div fxLayout="column" fxFlex="40">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/redcal-8c1d7.appspot.com/o/3888783_11900.jpg?alt=media&token=d4f31916-1136-426c-bf52-c6133931ee84"
        alt=""
        height="300px"
      />
      <div>
        tomado de:
        <a
          href="https://www.freepik.es/vector-gratis/cartel-carnaval-brasil_3888783.htm#query=bandera%20brasil&position=2&from_view=search&track=sph"
          >Imagen de macrovector</a
        >
        en Freepik
      </div>
    </div>
    <div
      fxFlex="50"
      fxLayout="column"
      fxLayoutGap="30"
      fxLayoutAlign="center stretch"
    >
      <h2>BRASIL</h2>
      <span
        >NORMA REGULAMENTADORA Nº 13 - CALDEIRAS, VASOS DE PRESSÃO, TUBULAÇÕES E
        TANQUES METÁLICOS DE ARMAZENAMENTO:
        <a
          href="https://www.gov.br/trabalho-e-previdencia/pt-br/composicao/orgaos-especificos/secretaria-de-trabalho/inspecao/seguranca-e-saude-no-trabalho/sst-portarias/2022/portaria-ndeg-1-846-nova-nr-13.pdf"
          >https://www.gov.br/trabalho-e-previdencia/pt-br/composicao/orgaos-especificos/secretaria-de-trabalho/inspecao/seguranca-e-saude-no-trabalho/sst-portarias/2022/portaria-ndeg-1-846-nova-nr-13.pdf</a
        ></span
      >
    </div>
  </div>

  <!-- chile -->
  <div fxLayoutGap="10">
    <div fxLayout="column" fxFlex="40">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/redcal-8c1d7.appspot.com/o/chile-flag-wrinkled-on-dark-background-3d-render.jpg?alt=media&token=35dde4bf-fb09-4801-978e-83823805d8be"
        alt=""
        height="300px"
      />
      <div>
        tomado de:
        <a
          href="https://www.freepik.es/foto-gratis/bandera-chile-arrugado-sobre-fondo-oscuro-3d-render_1190584.htm#query=bandera%20chile&position=18&from_view=search&track=sph"
          >Imagen de natanaelginting</a
        >
        en Freepik
      </div>
    </div>
    <div
      fxFlex="50"
      fxLayout="column"
      fxLayoutGap="30"
      fxLayoutAlign="center stretch"
    >
      <h2>CHILE</h2>
      <span
        >REGLAMENTO DE CALDERAS, AUTOCLAVES Y EQUIPOS QUE UTILIZAN VAPOR DE AGUA
        MINISTERIO DE SALUD; SUBSECRETARÍA DE SALUD PÚBLICA:
        <a href="https://www.bcn.cl/leychile/navegar?idNorma=1055319"
          >https://www.bcn.cl/leychile/navegar?idNorma=1055319</a
        ></span
      >

      <a
        href="https://www.bcn.cl/leychile/navegar?idNorma=1055319&idParte=9379564&idVersion="
        >https://www.bcn.cl/leychile/navegar?idNorma=1055319&idParte=9379564&idVersion=</a
      >

      <a href="https://www.suseso.cl/612/w3-article-18845.html"
        >https://www.suseso.cl/612/w3-article-18845.html</a
      >
    </div>
  </div>

  <!-- Uruguay -->
  <div fxLayoutGap="10">
    <div fxLayout="column" fxFlex="40">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/redcal-8c1d7.appspot.com/o/flag-of-uruguay.jpg?alt=media&token=22d0f138-2b50-4150-9f92-fee26b38b4d6"
        alt=""
        height="300px"
      />
      <div>
        tomado de:
        <a
          href="https://www.freepik.es/foto-gratis/bandera-uruguay_1179693.htm#query=bandera%20uruguay&position=30&from_view=search&track=sph"
          >Imagen de www.slon.pics</a
        >
        en Freepik
      </div>
    </div>
    <div
      fxFlex="50"
      fxLayout="column"
      fxLayoutGap="30"
      fxLayoutAlign="center stretch"
    >
      <h2>URUGUAY</h2>
      <span
        >REGLAMENTO DE GENERADORES DE VAPOR:
        <a
          href="https://www.gub.uy/unidad-reguladora-servicios-energia-agua/sites/unidad-reguladora-servicios-energia-agua/files/2021-06/Reglamento%20GV%2029-02-2016.pdf"
          >https://www.gub.uy/unidad-reguladora-servicios-energia-agua/sites/unidad-reguladora-servicios-energia-agua/files/2021-06/Reglamento%20GV%2029-02-2016.pdf</a
        ></span
      >
      Reglamento de Generadores de vapor de baja presión:
      <a
        href="Borrador de Reglamento de Generadores de vapor de baja presión.pdf (ursea.gub.uy)"
        >Borrador de Reglamento de Generadores de vapor de baja presión.pdf
        (ursea.gub.uy)</a
      >

      En 2021 se aprobaron "artículos sustitutivos" por lo que no se aprobó un
      nuevo reglamento, que llevó durante este año están realizando algunas
      modificaciones y un texto único que probablemente salga en consulta
      pública en las próximas semanas y ahí si, se tendrá un texto de reglamento
      nuevo. El enlace a donde se encuentran los artículos sustitutivos
      mencionados:
      <a
        href="Modificaciones al de Reglamento Generadores de Vapor (2021) (.pdf 288 KB)"
        >Borrador de Reglamento de Generadores de vapor de baja presión.pdf
        (ursea.gub.uy)</a
      >
    </div>
  </div>
</div>
