<div fxLayout="column" fxLayoutGap="30" fxLayoutAlign="center center">
  <h1>SERVICIOS</h1>
  <div fxLayoutAlign="end center" fxLayoutGap="20px" class="buttons" *ngIf="cuenta[0]?.roles === 'admin'">
    <button mat-raised-button color="primary" (click)="openModal()">
      Agregar Servicio
    </button>
  </div>
  <div *ngFor="let item of servicesItem" fxLayout="column" fxLayoutGap="20" style="min-width: 100%;">
    <mat-card>
      <mat-card-content>
        <div
          fxLayout="row"
          fxLayoutGap="10"
          fxLayoutAlign="space-around center"
          fxLayout.xs="column"
        >
          <div fxFlex="40" fxFlex.xs="100">
            <img [src]="item.urlImage" alt="imagen de servicio" width="100%" />
          </div>
          <div
            fxFlex="50"
            fxLayout="column"
            fxFlex.xs="100"
            fxLayoutAlign="center center"
          >
            <h1>{{ item.title }}</h1>
            <p>
              {{ item.detail }}
            </p>
          </div>
          <div fxLayout="column" fxLayout.xs="row" fxLayoutGap="20" *ngIf="cuenta[0]?.roles === 'admin'">
            <button mat-icon-button (click)="editar()"><mat-icon color="primary">delete_forever</mat-icon></button>
            <button mat-icon-button (click)="remove()"><mat-icon color="accent">edit</mat-icon></button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
